h1 {
    text-align: center;
}

.score-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
}

.game-board {
    display: flex;
    justify-content: space-evenly;
    border-collapse: collapse;
    font-size: 15rem;

    & td {
        height: 200px;
        width: 200px;
        border: 2px solid black;
    }

    & div {
        width: 200px;
        height: 200px;
        box-sizing: border-box;
    }

    & tr td:nth-child(1) {
        border-left: none;
    }

    & tr td:nth-last-child(1) {
        border-right: none;
    }
}

.empty {
    cursor:pointer;
}

.cross {
    display: flex;
    text-align: center;
    align-items: center;
    &::after {
        display: inline-block;
        content: "X";
        width: 100%;
    }
}

.circle {
    display: flex;
    text-align: center;
    align-items: center;
    &::after {
        display: inline-block;
        content: "O";
        width: 100%;
    }
}

.row1 {
    border-top: none;
    & td {
        border-top: none;
    }
}

.row3 {
    & td {
        border-bottom: none;
    }
}
